@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/* Set default font family and background color for the page */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  background-image: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Center the form on the page and give it a border */

.form-container {
  margin: auto;
  margin-top: 7rem;
  width: 50%;
  position: absolute;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: C1C0BE;
  box-shadow: 10px 10px 25px #ddd;
}

/* Style the form labels and inputs */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  display: block;
  margin-bottom: 10px;
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#sign-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input[type="text"] {
  display: block;
  margin-bottom: 0.2rem;
  width: 8rem;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Style the captcha container and button */
#cap-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#captcha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 5rem;
  width: 10rem;
  background-color: #140808;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 30px;
  color: #e7dbac;
}

button#captcha-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

button#captcha-button:hover {
  background-color: #0056b3;
}

/* Style the submit button */
button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* CSS for mobile devices */
@media (max-width: 767px) {
  form {
    width: 90%;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="email"],
  input[type="password"],
  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }

  #captcha {
    font-size: 1.5em;
    width: 70%;
  }

  #captcha-input {
    width: 70%;
  }

  button[type="submit"] {
    display: block;
    width: 100%;
    margin: 10px auto 0;
    padding: 10px;
    font-size: 18px;
  }
}
